.error-message {
    color: red;
}

.register-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form-container label {
    display: block;
    margin-bottom: 5px;
}

.register-form-container input[type="text"],
.register-form-container input[type="email"],
.register-form-container input[type="password"],
.register-form-container input[type="number"],
.register-form-container textarea,
.register-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form-container input[type="radio"],
.register-form-container input[type="checkbox"] {
    margin-right: 5px;
}

.register-form-container .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

.register-form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.register-form-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.role-container {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
    margin-bottom: 15px; /* Add some bottom margin for spacing */
}

.role-container label {
    margin-right: 5px; /* Add some right margin to separate the radio buttons from their labels */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid #2391ad;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #2660a3;
}

.actions {
    margin-top: 10px;
}