/* vehicleForm.css */

.vehicle-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    
     /* background-image: url('././img/tipper.jpeg'); Apply the background image */
    /* background-size: cover; Cover the entire container */
    /* background-position: center; Center the background image */
    /* background-repeat: no-repeat; Do not repeat the background image */
    
  }
  
  .vehicle-form-container h2 {
    margin-bottom: 20px;
  }
  
  .vehicle-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .vehicle-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* Remove default arrow */
    background-color: #fff;
  }
  
  .select-wrapper::after {
    content: '\25BC'; /* Unicode character for down arrow */
    font-size: 16px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .vehicle-form-container select {
    width: 100%;
  }
  
  .vehicle-form-container input[type="text"] {
    width: 100%;
  }
  
  .vehicle-form-container .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .vehicle-form-container button[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .vehicle-form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  